@page
@inject UserManager<EprojectUser> _userManager
@using Eproject.Models
@model IndexModel
@{
    EprojectUser user = await _userManager.FindByNameAsync(User.Identity.Name);
    var isAdmin = User.IsInRole("Admin");
    Layout = isAdmin ? "_Layout" : "_LayoutDefault";
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Name" class="form-control" />
                <label asp-for="Input.Name" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.AdmissionDate" class="form-control" />
                <label asp-for="Input.AdmissionDate" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>
@*<div class="flex items-center justify-center h-screen">
    <div class="max-w-2xl w-full px-6 py-8 bg-white shadow-lg rounded-lg">
        <h2 class="text-3xl font-semibold mb-6">Profile</h2>
        <div class="grid grid-cols-1 gap-4">
            <div>
                <label class="block font-semibold text-primary mb-1">Username</label>
                <p class="text-gray-700">@user.UserName</p>
            </div>
            <div>
                <label class="block font-semibold text-primary mb-1">Roll No</label>
                <p class="text-gray-700">@user.Code</p>
            </div>
            <div>
                <label class="block font-semibold text-primary mb-1">Class</label>
                <p class="text-gray-700">@user.Class</p>
            </div>
            <div>
                <label class="block font-semibold text-primary mb-1">Specification</label>
                <p class="text-gray-700">@user.Specification</p>
            </div>
            <div>
                <label class="block font-semibold text-primary mb-1">Section</label>
                <p class="text-gray-700">@user.Section</p>
            </div>
            <div>
                <label class="block font-semibold text-primary mb-1">Date of Join</label>
                <p class="text-gray-700">@user.AdmissionDate.ToShortDateString()</p>
            </div>

            <div class="mt-6">
                <label class="block font-semibold text-primary mb-1">Password</label>
                <a href="/Identity/Account/Manage/changepassword" class="btn btn-primary">
                    Change Password
                </a>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
